*target*
*.jar
*.war
*.ear
*.class

# eclipse specific git ignore
*.pydevproject
.project
.metadata
bin/**
tmp/**
tmp/**/*
*.tmp
*.bak
*.swp
*~.nib
local.properties
.classpath
.settings/
.loadpath

# External tool builders
.externalToolBuilders/

# Locally stored "Eclipse launch configurations"
*.launch

\Projet interne transversal\modelisation\raspberry-pi-3-model-b-reference-design-solidworks-cad-rpi-raspberrypi-raspberry-pi-1.snapshot.83(1)\***

*\notes
Systèmes Distribués/**